*{
    padding:0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.hero {
    height:100vh;
    width:100%;
    background-image: url('/img/gwag.jpg');
    background-size:cover;
    background-position: center;

}

.hero nav {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}

.logo {
    color:white;
    font-size:35px;
    letter-spacing: 1px;
    cursor:pointer;
}